mj-section(background-color='#270938')
    mj-column
        mj-image
        mj-text(align='center' font-size='28px' font-weight='500' color='#BA4995') Plus de 40 postes en #[strong(style='color:#ffffff') alternance] à pourvoir auprès de nos #[strong(style='color:#ffffff') entreprises partenaires]
        mj-button(padding='25px 0 15px 0' align='center' font-size='16px' background-color='#BA4995' color='#ffffff') Postulez