mj-section(background-color='#ffffff' padding='20px 24px') 
    mj-column(width='536px')
        mj-text(padding='0 0 10px 0' align='left' font-size='28px' font-weight='700' color='#684092') À vos Agendas
    mj-group(width='100%')     
        mj-column(width='50%' padding='8px')
            mj-image(padding='0' fluid-on-mobile='true' src='https://img.mailinblue.com/3403292/images/content_library/original/661cc2cf96f50ec645ff3db9.jpg' alt='Affiche JPO 25/05/2024')/
        mj-column(width='50%' padding='8px')
            mj-image(padding='0' fluid-on-mobile='true' src='https://img.mailinblue.com/3403292/images/content_library/original/6614f9a7d98ef3df5ce2fe67.jpg' alt='Affiche JOB DATING 25/04/2024')/