mj-section(background-color='#ffffff' padding='20px 24px 10px 24px')
    mj-column(padding='8px')
        mj-image(padding='0' border='none' fluid-on-mobile='true' src='https://img.mailinblue.com/3403292/images/content_library/original/6614da0ad9a1bc2e47fcd502.jpg' href='https://ecosup-assurance.fr/decrocher-contrat-alternance-3-etapes-cles-reussir/' alt='Décrocher son contrat alternance en 3 étapes')/
    mj-column(padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Interview
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Mathilde future étudiante à Ecosup Assurance a décroché son alternance
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') A 22 ans Mathilde s'engage dans un Bachelor Assurance après un BTS MCO vant de vous lancer dans la recherche d'un contrat d'alternance, il est essentiel.
        mj-text(align='right' color='#BA4995' font-weight='700') #[a(href='https://ecosup-assurance.fr/decrocher-contrat-alternance-3-etapes-cles-reussir' style='color:#BA4995;text-decoration:none;') Lire la suite...]

mj-section(background-color='#ffffff' padding='20px 24px 10px 24px')
            mj-column(padding='8px')
                mj-image(padding='0' border='none' fluid-on-mobile='true' src='https://img.mailinblue.com/3403292/images/content_library/original/6614da0ad9a1bc2e47fcd502.jpg' href='https://ecosup-assurance.fr/decrocher-contrat-alternance-3-etapes-cles-reussir/' alt='Décrocher son contrat alternance en 3 étapes')/
            mj-column(padding='8px')
                mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Poste à pouvoir
                mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Entreprise recherche un chargé en alternance
                mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Avant de vous lancer dans la recherche d'un contrat d'alternance, il est essentiel de définir vos objectifs professionnels. Quel secteur vous attire ?
                mj-text(align='right' color='#BA4995' font-weight='700') #[a(href='https://ecosup-assurance.fr/decrocher-contrat-alternance-3-etapes-cles-reussir' style='color:#BA4995;text-decoration:none;') Lire la suite...]