mjml
    //- Head
    mj-head
        mj-title Lettre Assurance Etudiant Mai
        mj-raw.
            <meta name='color-scheme' content='light'></meta>
            <meta name='supported-color-schemes' content='light'></meta>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-style.
            .hover:hover td, .hover:hover a{
                background-color:#red !important;
            }
    //- Body
    mj-body(background-color='#fcfcfc')
        //- Header
        block header
       
        //- Partenaire ESA
        block esa
            include ../includes/_esa

        //- Bandeau Post
        block bandeau
            include ../includes/_bandeau
        
        //- Dossier
        block dossier

        //- Article
        block video
            include ../includes/_article   

        //- Video
        block video
            include ../includes/_video

        //- Agenda
        block agenda
            include ../includes/_agenda

        //- footer Post
        block footer
            include ../includes/_footer