extends templates/_layout
block header
    //- Phrase Mirroir
    mj-section(background-color='#ffffff' padding-bottom='4px')
        mj-column(width='480px')
            mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') si vous n'arrivez pas à lire cet email, cliquez #[a(style='color:#BA4995;text-decoration:none;font-weight:700' href='{{ mirror }}') ici]
    //- Header Logo + réseaux sociaux
    mj-section(background-color='#EDF2F7')
        mj-group(width='550px') 
            mj-column(width='60%')
                mj-image(align='left' padding='0' width='256px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png' href='https://ecosup-assurance.fr' alt='Logo Ecosup Assurance')
            mj-column(width='40%')
                mj-image(align='right' padding='0' width='150px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb277b6d8c909673de86c1.png' alt='Logo de la Newsletter')
                mj-social(align='right' inner-padding='20px 4px 0 20px' padding='0' icon-size='30px' mode='horizontal')
                    mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0e8e9b9c597806fa9e9.gif' href='https://www.facebook.com/EcosupAssurance' alt='icon Facebook')
                    mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f123605bbe5926c9b7.gif' href='https://www.instagram.com/ecosup.campus/' alt='icon Instagram')
                    mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f823605bbe5926c9b9.gif' href='https://linkedin.com/company/ecosup-campus' alt='icon Linkedin')
    //- Header Phrase et date 
    mj-section(background-color='#EDF2F7' padding='0')
        mj-column(width='600px')
            mj-text(padding-bottom='6px' align='left' font-size='16px' font-weight='300' color='#2D3748') #[span(style='font-weight:700;text-transform:uppercase;') news ecosup assurance] | Mai 2024        
//- block esa
//- block bandeau + 40 postes à pouvoir en Altrenanc//
block dossier
    mj-section(background-color='#EDF2F7' padding='0px')
        mj-column(width='100%')
            mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://img.mailinblue.com/3403292/images/content_library/original/6614d5fa1ccefdb35700fd47.jpg' href='https://ecosup-assurance.fr/risques-majeurs-assurance/' alt='Nouveau risques informatique,climatique et économique')/
    mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='20px')
        mj-column(width='530px') 
            mj-text(padding-top='5px' padding-bottom='5px' font-size='14px' font-weight='900' text-transform='uppercase' color='#944694') Dossier
            mj-text(padding-top='0' padding-bottom='0' font-size='28px' font-weight='700' color='#684092') Cyberattaques, Dérèglement climatique et Environnement économique : #[strong les risques majeurs pour l'assurance]
            mj-text(padding-top='5px' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') Le monde de l'assurance est confronté à des défis croissants dus à l'évolution des risques. Parmi les plus importants, on trouve les cyberattaques, le dérèglement climatique et l'environnement économique.
            mj-text(padding-top='0' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') En constante augmentation, ces risques menacent la stabilité du secteur et exigent des compagnies d'assurance une adaptation rapide et efficace.
            mj-text(align='right' font-size='16px' line-height='20px' font-weight='700') #[a(href='https://ecosup-assurance.fr/risques-majeurs-assurance/' style='color:#BA4995;text-decoration:none;') Lire la suite...]