mjml
    //- Head
    mj-head
        mj-title Lettre Assurance Etudiant Mai
        mj-raw.
            <meta name="color-scheme" content="light"></meta>
            <meta name="supported-color-schemes" content="light"></meta>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
    //-Body
    mj-body(background-color='#fcfcfc')
        //- Phrase Mirroir
        mj-section(background-color='#ffffff' padding-bottom='4px')
            mj-column(width='480px')
                mj-text(padding='0px' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') si vous n'arrivez pas à lire cet email, cliquez #[a(style='color:#BA4995;text-decoration:none;font-weight:700' href='{{ mirror }}') ici]
        //- Header Logo + réseaux sociaux
        mj-section(background-color='#EDF2F7') 
            mj-column
                mj-image(align='left' padding='0' width='256px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png' href='https://ecosup-assurance.fr' alt='Logo Ecosup Assurance')
            mj-column
                mj-image
                mj-social
                    mj-social-element
                    mj-social-element
                    mj-social-element
        //- Header Phrase et date 
            mj-section
                mj-column
                    mj-text news ecosup assurance | Mai 2024
        //- Partenaire ESA
        include includes/esa